//NORMALIZE
.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
a:hover{
    text-decoration: none !important;
}
/*SCROLLBAR*/
/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 10px;

    /* Track */
    &-track {
        border-radius: 10px;
    }

    /* Handle */
    &-thumb {
        background: rgba(black,.3);
        border-radius: 10px;
    }

    /* Handle on hover */
    &-thumb:hover {
        background: rgba(black,.5);
    }

}


// Fonts
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900&display=swap");

// Variables
@import 'variables';

.text-cc-azul{
    color: $azulMixtos !important;
}
.text-cc-amarillo{
    color: $amarilloCiudadanos !important;
}
.text-cc-verde{
    color: $verdeBioespacios !important;
}
.text-cc-rojo{
    color: $rojoCiencias !important;
}
.text-small{
    font-size: 12px;
}
.text-black{
   color: black !important;
}

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    font-family: 'Source Sans Pro', sans-serif;
}

//layout
@import "layout/mysidebar";

//components
@import "components/mynavbar";
@import "components/mycard";
@import "components/my-border-card";
@import "components/card-detalle";
@import "components/card-blanca";
@import "components/my-input";




