.card-detalle{
    width: 100%;
    background: rgba($black,.8);
    padding: 30px;
    min-height: 100vh;
    ul {
        list-style: none; /* Remove default bullets */
    }
    ul li::before {
        content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
    }
    @mixin custom-colors($color){
        .mycard{
            &__lg-title{
                color: $color;
            }
        }
        ul li::before {
            color: $color; /* Change the color */
        }

    }
    &__titulo{
        font-size: 60px;
        font-weight: 700;
        color: white;
    }
    &__icon{
        font-size: 30px;
        cursor: pointer;
    }
    &__info{
        border-left: 2px solid white;
        padding-left: 10px;
    }
    .mycard{
        &__header {
            padding-bottom: 0;
            border-bottom: 1px solid white;
        }
        &__icon{
            color: white;
        }
    }
    &--amarillo{
        @include custom-colors($amarilloCiudadanos);
    }
    &--rojo{
        @include custom-colors($rojoCiencias);
    }
    &--verde{
        @include custom-colors($verdeBioespacios);
    }
    &--azul{
        @include custom-colors($azulMixtos);
    }
}

@media (max-width: 992px) {
    .card-detalle{
        &__titulo{
            font-size: 30px;
        }
    }
}
