.card-blanca{
    background: white;
    padding: 20px;
    &__titulo{
        font-size: 60px;
        font-weight: 700;
        text-transform: uppercase;
    }
    border-width: 5px;
    border-style: solid;
}
@media (max-width: 992px) {
  .card-blanca{
      &__titulo{
          font-size: 30px;
      }
  }
}
