.my-border-card{
    border-width: 5px;
    border-style: solid;
    height: 100%;
    @mixin getContent($color){
        .my-border-card__title{
            color: $color;
        }
        border-color: $color;
    }
    &__title{
        font-weight: 700;
        text-transform: uppercase;
    }
    &--amarillo{
        @include getContent($amarilloCiudadanos)
    }
    &--verde{
        @include getContent($verdeBioespacios)
    }
    &--azul{
        @include getContent($azulMixtos)
    }
    &--rojo{
        @include getContent($rojoCiencias)
    }
}
