.myinput {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid rgba(white,.8);
    height: 40px;
    background: black;
    border-radius: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;

    &:focus {
        outline: none;
        border: none;
        border-bottom: 1px solid white;
        background: black;
        color: white;
        box-shadow: none;
    }
}

/*
ESTILOS DEL INPUT CON EL INCONO DE BUSCAR
*/
.myinput-container-buscar {
    position: relative;

    input {
        padding-left: 25px;
        transition: all 0.3s;
    }

    &.quitar-after input {
        padding-left: 0;
    }

    .myinput:hover {
        border-bottom: 1px solid white
    }

    &:hover::after {
        color: white;
    }

    &::after {
        position: absolute;
        top: 20%;
        left: 5px;
        font-family: "Font Awesome 5 Free";
        content: "\f002";
        font-weight: 900;
        color: white;
        width: 25px;
        transition: all 0.3s;
    }

    &.quitar-after::after {
        content: '';
        width: 0;
    }
}
