.mycard{
    &__header{
        border-bottom: 1px solid black;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    &__sm-title{
        color: black;
        font-weight: 300;
    }
    &__lg-title{
        font-size: 25px;
        font-weight: 700;
    }
    &__icon{
        color: black;
        font-size: 20px;
        font-weight: 700;
    }
}
