.mynavbar{
    position: fixed;
    background: white;
    top: 0;
    padding: 20px 0;
    width: 60%;
    z-index: 2;
    &__link{
        font-weight: 700;
        font-size: 14px;
        margin-left: 25px;
        a{
            color: black;
        }
        &::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: #000;
            transition: width .3s;
        }
        &:hover::after {
            width: 100%;
        }
        &:hover a{
            text-decoration: none;
        }
        &.active::after{
            width: 100%;
        }
    }
    &__icon{
        font-size: 25px;
        font-weight: 700;
        cursor: pointer;
    }
}

@media (max-width: 575.98px) {
    .mynavbar{
        //width: 92%;
        position: initial;
        width: 100%;
    }
}
@media (min-width: 576px) and (max-width: 621px) {
    .mynavbar{
        width: 90%;
    }
}
@media (min-width: 622px) and (max-width: 767.98px) {
    .mynavbar{
        width: 80%;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .mynavbar{
        width: 75%;
    }
}

