.mysidebar{
    overflow-y: scroll;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: black;
    z-index: 10;
    transition: all .3s;
    &__link{
        color: white;
        font-size: 12px;
        &--rojo:hover{
            color: $rojoCiencias;
        }
        &--azul:hover{
            color: $azulMixtos;
        }
        &--verde:hover{
            color: $verdeBioespacios;
        }
        &--amarillo:hover{
            color: $amarilloCiudadanos;
        }
    }
    /*
    &__select{
        background: black;
        border: 2px solid white;
        color: white;
        text-transform: uppercase;
        font-family: 'Source Sans Pro', sans-serif;
        @mixin customColors($color){
            border: 2px solid $color;
            color: $color;
        }
        &:focus{
            background: black;
            border: 2px solid white;
            color: white;
            text-transform: uppercase;
            font-family: 'Source Sans Pro', sans-serif;
            box-shadow: none;
        }
        &--rojo,&--rojo:focus{
            @include customColors($rojoCiencias);
        }
        &--azul,&--azul:focus{
            @include customColors($azulMixtos);
        }
        &--verde,&--verde:focus{
            @include customColors($verdeBioespacios);
        }
        &--amarillo,&--amarillo:focus{
            @include customColors($amarilloCiudadanos);
        }

    }*/
    &__tipo{
        margin-left: -10px;
        cursor: pointer;
        color: white;
        @mixin customColors($color){
            color: $color;
            .mysidebar__subtipo{
                border-left: 1px solid $color;
                .line{
                    color: $color;
                }
                .subtipo-item:hover,.subtipo-item.selected{
                    color:$color;
                }
            }
        }
        &--rojo.selected,&--rojo:focus,&--rojo:hover{
            @include customColors($rojoCiencias);
        }
        &--azul.selected,&--azul:focus,&--azul:hover{
            @include customColors($azulMixtos);
        }
        &--verde.selected,&--verde:focus,&--verde:hover{
            @include customColors($verdeBioespacios);
        }
        &--amarillo.selected,&--amarillo:focus,&--amarillo:hover{
            @include customColors($amarilloCiudadanos);
        }

        .mysidebar__subtipo{
            margin-left: 25px;
            color: white;
        }
    }
    &__lista{
        border: 1px solid white;
        padding: 5px;
        overflow-y: scroll;
        height: 400px;
        text-transform: capitalize;
        &::-webkit-scrollbar {
            width: 15px;
            height: 10px;

            /* Track */
            &-track {
                background: rgba(white,.3);
                border-radius: 0;
            }

            /* Handle */
            &-thumb {
                background: rgba(white,.6);
                border-radius: 0;
            }

            /* Handle on hover */
            &-thumb:hover {
                background: rgba(white,.8);
                border-radius: 0;
            }

        }
    }
}

@media (max-width: 992px) {
    .mysidebar{
        left: -100%;
        &--active{
            left: 0;
        }
    }
}
